/*
Theme Name: Elegant
Theme URI: https://wordpress.org/themes/elegant
Author: C.A. iSerT - By Di Michele Roberto, Alarcon Gerald, Gonzalez Josias, Linares Betzabeth 
Author URI: https://isert.com/
Description: Tema creado a medida para Elegant Reflections Alterations.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Dominio?
Tags: self, one-column, two-columns, right-sidebar, flexible-header, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* CÓDIGO DE COLORES
    nombre     #RGB
    azulel     #0014d6

*/

body{
    background-color: beige;
}